.headerDiv {
  padding: 20px;
  background-color: rgb(66, 66, 66);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

.carShairLogo {
  max-width: 30%;
  height: auto;
  margin: auto;
  display: block;
}
.headerUl {
  text-align: center;
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: "none";
  color: white;
}

a:hover {
  cursor: pointer;
  font-size: 35px;
}

headerUl {
  font-size: 25px;
}
